name: CI
on: [push, pull_request]

jobs:
  rspec:
    permissions:
      contents: read
      checks: write
      pull-requests: write
      statuses: write
    runs-on: ubuntu-latest
    container: public.ecr.aws/docker/library/ruby:3.2.2
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 100
      - name: Install Deps
        run: |
          apt update && apt install ffmpeg cmake -y
          bundle
      - name: RSpec
        run: |
          bundle exec rspec
      - name: Setup Pronto
        run: gem install pronto pronto-rubocop
      - name: Run Pronto
        run: |
          set -x
          bundle install
          git config --global --add safe.directory $GITHUB_WORKSPACE
          git fetch --no-tags --prune --depth=10 origin ${{ github.base_ref }}
          bundle exec pronto run -f github_status github_pr -c origin/${{ github.base_ref }}
        env:
          PRONTO_PULL_REQUEST_ID: ${{ github.event.pull_request.number }}
          PRONTO_GITHUB_ACCESS_TOKEN: "${{ github.token }}"
          BUNDLE_PATH: vendor/bundle
  lint:
    runs-on: ubuntu-latest
    container: public.ecr.aws/docker/library/ruby:3.2.3
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Deps
        run: |
          apt update && apt install cmake -y
          bundle
      - name: Run rubocop
        env:
          DD_ENV: ci
        run: |
          bundle exec rubocop -P
